<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title>Bienvenido al Blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/blog.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="page-header">
		 <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<h1><a href="">Mi Blog</a></h1>
	</div>
	{%block content%}
	{%endblock%}	

</body>
</html>